{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sm_styles.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700|Ropa+Sans&display=swap" rel="stylesheet">
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body class="choose-body">
	<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
		<h1 class="main-header">Choose Your Adventure</h1>
		<div class="d-flex">
			<div class="container m-5"><img src="{% static 'img/space.png' %}" class="img-fluid theme-card" onclick="selectTheme('sp')"></div>
			<div class="container m-5"><img src="{% static 'img/forest.png' %}" class="img-fluid theme-card" onclick="selectTheme('fo')"></div>
			<div class="container m-5"><img src="{% static 'img/desert.png' %}" class="img-fluid theme-card" onclick="selectTheme('ex')"></div>
		</div>
	</div>
	<form method="POST" class="form-horizontal" id="themeSelect">
		{% csrf_token %}
		<input hidden type="text" name="theme" id="theme">
	</form>
</body>

<script type="application/javascript">
	function selectTheme(theme) {
		document.getElementById('theme').value = theme;
		document.getElementById('themeSelect').submit();
	}
</script>