{% load static %}

<head>
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sm_styles.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700|Ropa+Sans&display=swap" rel="stylesheet">

	<!--blockly core-->
	<script src="{% static 'js/google-blockly/blockly_compressed.js' %}"></script>
	<script src="{% static 'js/google-blockly/blocks_compressed.js' %}"></script>
	<script src="{% static 'js/google-blockly/msg/js/en.js' %}"></script>
	<script src="{% static 'js/google-blockly/javascript_compressed.js' %}"></script>
	<script src="{% static 'js/google-blockly/generators/javascript/text.js' %}"></script>

	<!--blockly custom-->
	<script src="{% static 'js/google-blockly/blocks/myblocks.js' %}"></script>
</head>

<body>
	<div class="container m-0 p-0" style="min-width: 100vw;">
		<div class="row m-0 p-0 bg-light nav-style-light">
			<a style="text-decoration: None;" href="../"><div class='brand-text'>
				<img src="../../static/img/logo-sq.png" style="height: 7vh;" class="ml-3 mr-2" />SchoolMaster
			</div></a>
			<div class='brand-text mr-3 dropdown'>
				<button class="btn btn-danger mx-2" style="color: #ffffff;" onclick="skipTutorial()"> Skip Tutorial </button>
				<button class="btn btn-light dropdown-toggle" style="background-color: #ffffff; color: #000000; border-color: #3E969A;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{username}} </button>
				<div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton">
					<li class="dropdown-item" href="#">Performance</li>
					<div class="dropdown-divider"></div>
					<li class="dropdown-item" onclick="logoutFunc();">Logout</li>
				</div>
			</div>
		</div>

		<div class="row m-0 p-0">
			<div class="col-sm-3 m-0 p-0" style="background-color: #ffffff; opacity: .9;">
				<div class="container mx-0 my-0 pl-0" style="height: 92vh;">
					<p class="p-3 ml-3 mt-2" style="background-color: #f6554d; border-radius: 6px; border: solid 2px black;max-width: 22vw; font-size: 3vh;" id='msg'>Help the superhero reach the crashing plane</p>
					<div class="container-fluid ml-1"  id="blocklyDiv" style="height: 60vh; width:24vw; border: none;">
						<xml id="toolbox" style="display: none">
							<block type="move_left"></block>
							<block type="move_right"></block>
							<block type="move_up"></block>	
							<block type="move_down"></block>
						</xml>
					</div>
					<div class="d-flex justify-content-start">
						<button class="btn btn-info btn-lg ml-3 mt-3"  style="width: 6vw; background-color: #132F63; border-color: #000000; border-width: 2px;" type="button" id='resetBtn' onclick="resetCode('btn');">Reset</button>
						<button class="btn btn-danger btn-lg ml-3 mt-3" style="width: 6vw; background-color:#132F63;border-color: #000000; border-width: 2px;" type="button" id='runBtn' onclick="runCode();">Run</button>
					</div>
				</div>
			</div>
			<div class="col-md-9 m-0 p-0">
				<div class="d-flex flex-column m-0 p-0" id="gridDiv" style="height: 92vh; border-left: solid 1px white;">
				</div>
			</div>
		</div>
	</div>

	<div id="introduceProblemModal" class="modal fade mt-5" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Help!</h2>
					<button type="button" class="close" data-dismiss="modal">&times;</button>			
				</div>
				<div class="modal-body">
					<div class="d-flex no-wrap justify-content-center align-items-center">
						<div class="d-flex flex-column no-wrap justify-content-between align-items-start">
							<h4 class="mb-4 pt-1">We just found a new planet<br>Can you help reach it?</h4>
							<button class="btn-danger btn btn-lg text-white" onclick="startTutorial()">Yes! Let's go!</button>
						</div>
						<img src="{% static 'img/target-sp.png' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="objectiveModal" class="modal fade mt-5" role="dialog">
		<div class="modal-dialog modal-sm modal-dialog-introduce">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div class="d-flex flex-column no-wrap justify-content-between align-items-start">
						<p class="mb-2 pt-1" style="font-size:3vh">You can check your task here at anytime in the game</p>
						<button class="btn-info btn btn-md text-white" onclick="blocklyTutorial()">Next</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="blocklyModal" class="modal fade mt-5" role="dialog">
		<div class="modal-dialog modal-sm modal-dialog-blockly">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div class="d-flex flex-column no-wrap justify-content-between align-items-start">
						<p class="mb-2 pt-1" style="font-size:3vh">Here, you can find all the commands to move the astronaut around</p>
						<button class="btn-info btn btn-md text-white" onclick="moveblockTutorial()">Next</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="moveBlockModal" class="modal fade mt-5" role="dialog">
		<div class="modal-dialog modal-sm modal-dialog-blockly">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div class="d-flex flex-column no-wrap justify-content-between align-items-start">
						<p class="mb-2 pt-1" style="font-size:3vh">We need the astronaut to go right here. So drag the 'Move Right' block to the white space here.</p>
						<div class="d-flex">
							<button class="btn-info btn btn-md text-white" onclick="runTutorial()">?</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="runModal" class="modal fade mt-5" role="dialog">
		<div class="modal-dialog modal-sm modal-dialog-run">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div class="d-flex flex-column no-wrap justify-content-between align-items-start">
						<p class="mb-2 pt-1" style="font-size:3vh">Very good! Now all you need to do is press Run</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="successModal" class="modal fade mt-5" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body modal-dialog-success">
					<div class="d-flex flex-column no-wrap justify-content-center align-items-center">
						<h4 class="mb-3" style="font-size:3vh">You did it! Congratulations!</h4>
						<a href="../exercises"><button class="btn-success btn btn-lg text-white">Let's try more!</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<form method="POST" class="form-horizontal pt-4" id="logOutForm">
			{% csrf_token %}
			<input type="test" hidden name="logout" id='logout'/>
		</form>
		<form method="POST" class="form-horizontal pt-4" id="skipForm">
			{% csrf_token %}
			<input type="test" hidden name="skip" id='skip'/>
		</form>
	</div>
	
</body>

<script type="application/javascript">
	document.body.style.background = "#f3f3f3 url('../../static/img/bg-sp.png')";
	var workspace = Blockly.inject('blocklyDiv',
       {toolbox: document.getElementById('toolbox')});

	window.addEventListener("load", renderQuestion, false);

	var target = [3,6];
	var mover = [3,5];
	var mover_coordinates = 'grid-' + (mover[0]) + (mover[1]);
	var target_coordinates = 'grid-' + (target[0]) + (target[1]);
	
	function renderQuestion () {
    	addGrid();
    	start_time = Math.floor(Date.now() / 1000);
		addElements(mover_coordinates, target_coordinates);
		$('#introduceProblemModal').modal('show');
	}


	function startTutorial() {
		$('#introduceProblemModal').modal('hide');
		document.getElementById('blocklyDiv').style.WebkitFilter="grayscale(90%) blur(1px)"
		document.getElementById('resetBtn').style.WebkitFilter="grayscale(90%) blur(1px)"
		document.getElementById('runBtn').style.WebkitFilter="grayscale(90%) blur(1px)"
		$('#objectiveModal').modal('show');
	}

	function blocklyTutorial() {
		$('#objectiveModal').modal('hide');
		document.getElementById('msg').style.WebkitFilter="grayscale(90%) blur(1px)";
		document.getElementById('blocklyDiv').style.WebkitFilter="grayscale(0%) blur(0px)";
		$('#blocklyModal').modal('show');
	}

	function moveblockTutorial() {
		$('#blocklyModal').modal('hide');
		$('#moveBlockModal').modal('show');
	}

	function onMove(event) {
		if (event.type == Blockly.Events.MOVE) {
			$('#runModal').modal('show');
			document.getElementById('blocklyDiv').style.WebkitFilter="grayscale(90%) blur(1px)"
			document.getElementById('runBtn').style.WebkitFilter="grayscale(0%) blur(0px)"
			workspace.removeChangeListener(onMove);
		}
	}	
	workspace.addChangeListener(onMove);

	function runCode() {
		var target = [3,6];
		var mover = [3,6];
		var mover_coordinates = 'grid-' + (mover[0]) + (mover[1]);
		var target_coordinates = 'grid-' + (target[0]) + (target[1]);
		addElements(mover_coordinates, target_coordinates);
		$('#successModal').modal('show');

	}

	function addGrid() { 
		gridElement = document.getElementById('gridDiv');
		gridElement.innerHTML = "";
		rows = 6;
		columns = 10;
		counter = 1;
		for (var i = 1; i <= rows ; i++) {
			var textHTML = "";
			textHTML+="<div class='d-flex flex-fill flex-row-style' id='"+ i + "'>";
			for (var j = 1; j <= columns; j++) {
				textHTML+="<div class='p-2 flex-col-style flex-fill text-white' id='grid-"+ i + j + "'></div>";
			}
			textHTML+="</div>"
			gridElement.innerHTML+=textHTML;
		}
	}

	function addElements(mover_coordinates, target_coordinates) {
		for (var i = 1; i<=6; i++) {
			for (var j = 1; j<=10; j++) {
				elem_id = 'grid-' + i + j;
				sel_elem = document.getElementById(elem_id)
				if(elem_id === mover_coordinates) {
					sel_elem.innerHTML = "<img id='mover' style='height: 12.3vh;' class='img-fluid' src = '../../static/img/mover-sp.png'/>";
				}
				else if ( elem_id === target_coordinates) {
					sel_elem.innerHTML = "<img id='target' style='height: 12.35vh;' class='img-fluid' src = '../../static/img/target-sp.png'/>";
				}
				else {
					sel_elem.innerHTML = "<span class='dot p-0 m-0'></span>";			
				}					
			}
		}
	}

	function logoutFunc() {
		if (confirm("Are you sure you want to logout?")) {
			document.getElementById('logOutForm').submit();
		} 
		else {
			return;
		}
	}

	function skipTutorial() {
		if (confirm("Are you sure you want to skip the tutorial?")) {
			document.getElementById('skipForm').submit();
		} 
		else {
			return;
		}
	}
	
</script>