{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sm_styles.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700|Ropa+Sans&display=swap" rel="stylesheet">
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body class="login-body">
	<div class="row" style="min-height: 100vh;">
		<div class="col-sm-6 d-flex justify-content-center align-items-center flex-column">
			<h1 class="text-white main-header">SchoolMaster</h1>
			<h2 class="text-white sub-header">Raising Innovators</h2>
		</div>
		<div class="col-sm-6 bg-light d-flex justify-content-center">
			<div>
				<h1 class="text-center my-5 py-5" style="font-size: 6vh;">LOGIN</h1>
				<form method="POST" class="form-horizontal pt-4">
					<p>Your username or password was incorrect. Please try again</p>
					{% csrf_token %}
					<fieldset class="msfrm">
						<div class="row my-3">
							<input type="text" name="username" placeholder="Username" class="mx-3 px-2 mb-3 input-login">
						</div>
						<div class="row my-3">
							<input type="password" name="password" placeholder="Password" class="mx-3 px-2 mb-3 input-login">
						</div>
					</fieldset>
					<button type="submit" class="btn btn-lg btn-login btn-info my-3">Login</button>
				</form>
			</div>
		</div>
	</div>

</body>